/* style.css */


* [hidden] {
  display: none!important;
}

/*  --------------------------------------------------
                      GLOBAL VARIABLES
    -------------------------------------------------- */
:root {
  --primary-color: #4daf50; 
  --secondary-color: #74BE54; 
  --background-color: #a9d457; 
  /* --primary-color: #292929; 
  --secondary-color: #6b6b6b; 
  --background-color: #bdbdbd;  */
  --text-color: #000; 
  --accent-color: #fff; 
  --hover-color: #ffffff70; 
  --cancel-color: rgb(189, 115, 115);
}

/*  --------------------------------------------------
                        Global Styles
    -------------------------------------------------- */
* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  zoom: 105%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-image: linear-gradient(to right, var(--primary-color) , var(--background-color)); */
  /* background-image: linear-gradient(to bottom, #fff, #0000005b); */
  color: var(--text-color);
  /* overflow: auto; */
}

.wrapper {
  display: flex;
}

/*  --------------------------------------------------
                      Navbar Styling
    -------------------------------------------------- */
.navbar {
  /* box-sizing: content-box; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: var(--accent-color);
  padding: 10px;
  text-align: center;
  font-weight: 600;
  min-width: 150px;
  height: 100vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
  .pages {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
  }
}

.navbar img {
  cursor: pointer;
}

.navbar a {
  box-sizing: border-box;
  width: 100%;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: var(--secondary-color);
}

.navbar a:hover {
  background-color: #0000002c;
}

.navbar a.active {
  color: #fff;
  background: linear-gradient(to right, var(--background-color), var(--primary-color));
  border-style: none;
}

/*  --------------------------------------------------
                    Main Content Styling
    -------------------------------------------------- */

#main-content {  
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  padding: 20px;
  font-weight: 400;
  color: var(--accent-color);
}

.run-animation {
  animation: fadeInAnimation  ease-in-out 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.homepage {
  display: flex;
  flex-flow: row nowrap;
  #view-progress {
    margin-top: 10px;
  }
  .card {
    background-image: url('../resources/img/_28e0f2a0-6e29-4a89-8f48-6512e79e6fe5.jpg');
    background-size: 225%; 
  }
}

.card {
  box-sizing: border-box;
  padding: 20px;
  /* max-width: 800px; */
  height: min-content;
  margin: 5px auto;
  background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
}

/*  --------------------------------------------------
              About and Contact Page Styling
    -------------------------------------------------- */

.about, .contact {
  & h1 {
    margin-bottom: 20px;
  }
  & p {
    line-height: 1.5;
    margin-bottom: 20px;
  }
  & ul {
    list-style: disc;
    padding: 0 20px;
  }
  & li {
    margin-bottom: 10px;
  }
  & a {
    color: var(--accent-color)
  }
}


/*  --------------------------------------------------
                      Tables Styling
    -------------------------------------------------- */

table {
  border-collapse: collapse; 
  table-layout: auto;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 3px solid var(--accent-color);
}

th, td {
  /* border-radius: 10px; */
  border: 1px solid var(--accent-color);
  padding: 2px;
  text-align: center; 
  white-space: pre-wrap;
}

tr {
  font-size: 1.3vw;
}


/*  --------------------------------------------------
                      Buttons Styling
    -------------------------------------------------- */
button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: var(--hover-color);
}

button:active {
  background-color: #00000077;
}

.button-bar {
  display: flex;
  justify-content: space-between;
}

.update-btn {
  width: 100%; 
  white-space: nowrap; 
  overflow: hidden; 
  font-size: 1.5vw;
}

.cancel, .delete-btn{
  background-color: var(--cancel-color);
  color: var(--accent-color)
}

input[type="checkbox"] {
  width: 2vmin;
  background: transparent;
}

/*  --------------------------------------------------
                      Form Styling
    -------------------------------------------------- */

.form-component {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

label {
  display: block;
  font-weight: bold;
}

input,
select {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.macronutrient-inputs input{
  width: 100%;
}

input:focus,
select:focus {
  border-color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/*  --------------------------------------------------
        Animations and Mobile Compatibility Styling
    -------------------------------------------------- */
@keyframes fadeInAnimation {
  0% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
  }
  .navbar {
    height: 100%;
    flex-flow: row nowrap;
    .pages {
      flex-flow: row wrap;
      justify-content: center;
    }
  }
  .navbar a {
    width: auto;
  }

  #main-content {
    width: auto;
  }

  thead tr th {
    writing-mode: vertical-rl;
  }
  
}